div.art-box(id="instanceArtDiv")
    div.art-box-img
        img(src=art.way)

    div.art-box-info
        p Name:
            label(name="name")
        p Artist:
            label(name="artist")
        p Sold for:
            label(name="sold-for")
        p Min price:
            label(name="price")
        p Owner
            label(name="owner")
div.tab(id="arts")
for art in arts
    div.art-box
        div.art-box-img
            img(src=art.way)

        div.art-box-info
            p Name:
                label(name="name") #{art.artName}
            p Artist:
                label(name="artist") #{art.artist}
            p Sold for:
                label(name="sold-for") #{art.newPrice}
            p Min price:
                label(name="price") #{art.artName}
            p Owner
                label(name="owner") #{art.owner}