extends layout

block content
    div.artOuterDiv
        div.artFileDiv
            img(src="" height="280" style="display:inline-block")
        div.artInnerDiv
            fieldset.fieldset
                label.label Name of art
                input.input(name="artName" type="name" value="")

            fieldset.fieldset
                label.label Artist of art
                input.input(name="artist" type="name" value="")

            fieldset.fieldset
                label.label Start price
                input.input(name="price" type="number" value="")

            fieldset.fieldset
                label.label Minimum step
                input.input(name="minStep" type="number" value="")

            fieldset.fieldset
                label.label Maximum step
                input.input(name="maxStep" type="number" value="")
            fieldset.fieldset
                label.label Link
                input.input(name="way" type="name" value="")
            br
            button.editButton(onclick="edit(this)") Edit
            button.applyButton(onclick="apply(this)" disabled) Apply
            button.removeButton(onclick="remove(this)") Remove

    button.bodyButton(onclick="addNew(this)") Add template
    button.bodyButton(onclick="eraseNew(this)" disabled) Erase template

    for art in arts
        div.artOuterDiv
            div.artFileDiv
                img(src=art.way height="280" style="display:inline-block")
            div.artInnerDiv
                fieldset.fieldset
                    label.label Name of art
                    input.input(name="artName" type="name" value=art.artName)

                fieldset.fieldset
                    label.label Artist of art
                    input.input(name="artist" type="name" value=art.artist)

                fieldset.fieldset
                    label.label Start price
                    input.input(name="price" type="number" value=art.price)

                fieldset.fieldset
                    label.label Minimum step
                    input.input(name="minStep" type="number" value=art.minStep)

                fieldset.fieldset
                    label.label Maximum step
                    input.input(name="maxStep" type="number" value=art.maxStep)
                fieldset.fieldset
                    label.label Link
                    input.input(name="way" type="name" value=art.way)
                br
                button.editButton(onclick="edit(this)") Edit
                button.applyButton(onclick="apply(this)" disabled) Apply
                button.removeButton(onclick="remove(this)") Remove